paths=(
	"./bazel-out/bazel_env-opt/bin/tools/bazel_env/bin"
)

missing_any=false

for path in "${paths[@]}"; do
	watch_file "$path"
	PATH_add "$path"
	if [[ ! -d "$path" ]]; then
		missing_any=true
	fi
done

if [ "$missing_any" = true ]; then
	log_error "Development environment is not fully set up."
	log_error "Please run 'bazel run //tools:env' to initialize."
fi
